/* =======Choose your favorite stuffs */
.cyfs {
    height: 400px;
    position: relative;
    background-color: rgba(145, 205, 185, 0.235);
    margin-bottom: 100px;
}

.cyfs .inner h1 {
    font-size: 65px;
    font-weight: 900;
}

.cyfs .inner h1:nth-child(1) {
    color: orangered;
}

/* ============= New Arrival =========*/

.newarrival h1 {
    text-align: left;

}

.cyfs .inner {
    position: absolute;
    top: 100px;
    left: 100px;
}

.pBox1 {
    background-image: url(image/po1.jpeg);
}